@media print {

*{ 
  font-size: 0.9rem;
  margin: 0;
  box-shadow: none !important;
  text-shadow: none !important;
  border-radius: 0;
}
    /* Esconde o container inteiro (pergunta + textarea) se estiver vazio */
    .ocultar-na-impressao {
        display: none !important;
    }

    #sopratirar1, #sopratirar2, #sopratirar3{
        display: none;
    }

    html{
        padding: 0;
        margin: 0;
    }
    body {
        padding: 0;
        margin: 0;
    }
header {
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  color: black;
  background: linear-gradient(135deg, white 0%, white 100%);
}
h1 {
  font-size: 0.8rem;
  background-color: white;
  padding: 0;
}
img{
  background-color: white;
  padding: 0;
}


form {
  padding-top: 55px;
}

main {
  gap: 0;
  padding: 0;
        margin: 0;
}

legend {
    background-color: white;
    color: black;
    padding: 0.1rem;
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 100%;
    font-weight: bold;
    font-size: 0.9rem;
}

 #a-dados-servidor ,#a-nivel, .a-quesito, .a-tabela, .a-infoc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
  background-color: white !important;
  color: black;
  border: 0;
    width: 100% !important;
    padding: 0rem;
    margin-top: 0.1rem;
}
.b-dados-servidor {
    padding: 0;
    gap: 0;
    background-color: white;
    color: black;
    width: 100%;
}

#d-matricula-nome{
    display: flex;
    justify-content: left;
    align-items: left;
    align-content: left;
    flex-direction: row;
  flex-wrap: nowrap;
  gap: 0rem;
  width: 100%;
}
#d-matricula {
    width: 25%;
}
#d-nome {
    width: 75%;
    display: flex;
}

#matriculaservidor{
  width: auto;
  text-align: left;
}
#matriculaservidor input{
  width: 100%;
  text-align: center;
}

#nomeservidor label {
  width: 100%;
}
#nomeservidor input {
  width: 100%;
}
#dataexercicioservidor, #dataavaliacao {
  width: 40%;
  text-align: center;
  margin-bottom: 0.1rem;
}
#data-exercicio {
  width: auto;
}
#data-avaliacao input {
  width: auto;
}

select {
  -webkit-appearance: none;  /* Remove no Chrome, Safari e Edge moderno */
  -moz-appearance: none;     /* Remove no Firefox */
  appearance: none;          /* Regra padrão */
  background-image: none;    /* Garante que imagens de fundo sejam removidas */
}

.b-avaliacao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    background-color: white;
    width: 80%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.1rem;
}
#div.avaliacao{
    padding: 0;
    background-color: white;
}
.linha-label-input {
  display: flex;
  flex-wrap: nowrap;
  gap: 0rem;
  background-color: white;
  width: 100%;
}

.linha-label-input label {
    text-align: left;
    width: 5rem;
}

.linha-label-input input {
    padding: 0.1rem;
    border: none;
    justify-content: left;
    width: 50vw;
    border-radius: 0;
}

.linha-label-input select {
    padding: 0rem;
    border: none; /* Cor azul das suas bordas */
    background-color: white;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
    padding-right: 0.5rem; /* Espaço para a seta não cobrir o número */
    text-align: left;
}

.b-nivel{
    margin: 0;
    padding: 0.1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: white;
}
.c-nivel{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: left;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sera-atribuido {
  padding: 0;
  margin: 0;
}
.sera-atribuido br {
        display: none;
}

    /* Adiciona um espaço após o </b> para o texto não ficar colado */
.sera-atribuido b::after {
    content: " ";
}

section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 0rem;
}
.b-pergunta{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    padding: 0;
}

.c-pergunta {
  background-color: white;
    display: flex;
     padding: 0rem;
     width: 80%;
     padding: 0;
     min-height: 2.2rem;   
}

.c-alternativas {
  background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
      width: 10%;
      min-width: 20%;
      padding: 0;
  }

.b-totalobtido {
  display: flex;
    background-color:white;
    color:black;
    font-weight: bold;
    padding: 0rem;
    margin-top: 0rem;
    width: 96%;
    justify-content: right;
}
.b-infoc{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.c-infoc{
  text-align: left;
  background-color: white;
  
}

textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
    
  /* A mágica acontece aqui */
  field-sizing: content;
  min-height: 3em; /* Garante que não suma totalmente se estiver vazio */
}
input::placeholder, textarea::placeholder {
    color: white;
    opacity: 0;
}


/* Botões Radio */

.b-apto-inapto {
    background-color: white;
    padding: 0rem;
    padding-bottom: 0rem;
    margin-top: 0.5rem;
}

.c-alternativas label, 
.b-apto-inapto label{
  
  display: inline-block;
  padding: 0.1rem 0.8rem;
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important; /* Borda preta fina para garantir que apareça */
  box-shadow: inset 0 0 0 1000px white !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

/* Cores de Seleção dos botões Radio */
input[type="radio"]:checked + label {
  background-color: black !important;
  color: white !important;
  border-color:black !important;
  box-shadow: inset 0 0 0 1000px black !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

/* Efeito de Hover Geral (para todos os botões) */
.c-alternativas label:hover, 
.b-apto-inapto label:hover{
  background-color: whitesmoke;
  border: 2px solid #ddd;
  transform: translateY(0px); /* Faz o botão "subir" um pouquinho */
  transition: all 0s ease;   /* Deixa o movimento suave */
}

#inapto:checked + label {
    background-color:black; /* Vermelho */
    color: white;
    border-color: black;
}

/* Quando o rádio está desabilitado, o "botão" (label) fica opaco */
input[type="radio"]:disabled + label {
    opacity: 1;
    cursor: not-allowed;
    filter: grayscale(1);
}

/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/

#id-tabela, #quesito-4 {
        /* Força o início de uma nova página antes deste fieldset */
        break-before: page;
}

.tabela-pontuacao{
  border-collapse: collapse;
  text-align: center;
  background-color: white;
}

.tabela-pontuacao thead th {
    background-color:white;
    color:black;
    padding: 0.3rem;
    border: 1px solid black;
}

.tabela-pontuacao td {
    padding: 0.1rem;
    border: 1px solid black;
}

.tabela-pontuacao tbody tr:hover {
    background-color:white;
}

.tabela-pontuacao tbody tr:nth-last-child(-n+2) td {
    background-color:white;
    font-weight: bold;
}
.b-tabela{
  background-color: white;
  width: 100%;
}

.a-botao {
  display: flex;
  flex-direction: column;
}
button {
  display: none !important;
}

/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/

#bloco-que-some{
  background-color: orange;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.a-assinaturas{
  background-color: red;
  display: flex;
  flex-direction: column;
  border: 0;
    width: 100%;
    padding: 0.5rem;
}

.b-assinaturas{
  background-color: blue;
   display: flex;
  flex-direction: column;
    border-radius: 3px;
    width: 100%;
}
.c-bloco-assinatura{
  background-color: violet;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  gap: 0rem;
  padding: 0rem;
  padding-top: 2rem;
  border-radius: 3px;
}
.data-carimbo{
  display: flex;
  background-color: yellow;
  justify-content: center;
  padding: 0rem;
  width: 50%;
}
.carimbo{
  background-color: brown;
  display: flex;
  flex-direction: column;
  gap: 0rem; 
  padding-top: 0rem;
  padding-bottom: 0;
  width: 100%;
}
.carimbo label{
  display: none;
}
.carimbo input{
  width: 50%;
}
.linha-label-input-ass {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  width: 100%;
  padding: 0rem;
}

.linha-label-input-ass input {
  
  border-radius: 3px;
  border: 1px solid royalblue;
  font-size: 1rem;
  padding: 0rem;
  width: 100%;
  text-align: center;
}

#linha-underline-chefe{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0;
}

#input-matriculachefe{
  width: 10rem;
  text-align: center;

}
#legend-chefeimediato{
  display: none;
}
#c-secretario, #c-servidor{
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  gap: 0rem;
  padding-top: 4rem;
  border-radius: 3px;
}
#c-concordo {
  background-color: green;
  display: flex;
  text-align: center;
  width: 100%;
  gap: 0rem;
  padding: 0.5rem;
  padding-bottom: 0;
  border-radius: 3px;
}
#linha-concordo{
  display: flex;
  width: 100%;
}
#d-concordo{
  background-color: white;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
}

#c-justifique{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0rem;
  padding: 0.5rem;
  border-radius: 3px;
}
#data-justifique{
  display: block;
  text-align: left;
  width: 100%;
  padding-left: 2rem;
}
#carimbo-justifique{
  display: block;
  width: 100%;
  
  padding-left: 2rem;
}
#carimbo-chefe{
  font-size: 0.9rem;
}


#input-nomechefe input{
  background-color: white !important;
}
#ass-comissao{
  padding-top: 3rem;
}

input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        box-shadow: 0 0 0 1000px white inset !important;
        -webkit-text-fill-color: black !important;
    }
input, select, textarea {
        background: transparent !important;
        border: none !important; /* Se você usa os underscores (___) no texto, esconda a borda do input */
        appearance: none;
        -webkit-appearance: none;
        color: black !important;
    }

}

