@media print {

*{ 
  font-size: 0.95rem;
  margin: 0;
  box-shadow: none !important;
  text-shadow: none !important;
  border-radius: 0;
}
.ocultar-na-impressao {
    display: none !important;
}

#sopratirar1, #sopratirar2, #sopratirar3{
    display: none;
}

html{
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 1rem;
}

header {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  color: black;
  background: none !important;
  position: static !important; /* Remove qualquer comportamento de tela */
  margin-bottom: 10px !important;
  border: none;
}

#cabecalho-principal {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;     
}
.container-header{
  width: 100%;
  display: flex;
  gap: 0rem;
}
 #brasao-style {
  display: none;
}
#brasao-print {
  display: flex;
  width: 4rem;
  height: auto;
}

h1 {
  font-size: 0.8rem;
  background-color: white;
  padding: 0;
  margin: 0;
}
header h6 {
  font-size: 1.2rem;
  margin-left: auto;
  margin-top: 0;
  text-align: right;
  width: auto;
  color: black;
}
img{
  background-color: white;
  padding: 0;
  width: auto;
  height: 3.5rem;
  margin: 0;

  
}
form {
  padding:0;
  margin: 0;
  padding-top: 0 !important;
        margin-top: 0 !important;
}

main {
  gap: 0;
  padding: 0;
        margin: 0;
}

legend {
    background-color: white;
    color: black;
    padding-bottom: 0;
    padding: 0;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.3rem;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}

 #a-dados-servidor ,#a-nivel, .a-quesito, .a-tabela, .a-infoc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
  background-color: white !important;
  color: black;
  border: 0;
    width: 100% !important;
    padding: 0;
    margin: 0;
    
    padding-bottom: 0;
    padding-top: 0.1rem;
    gap: 0;
}
.a-tabela{
  page-break-before: always;
  break-before: page;
}

.b-dados-servidor {
  display: flex;
    padding: 0;
    gap: 0;
    color: black;
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/*Parte de preenchimento do servidor*/
/*Parte de preenchimento do servidor*/
/*Parte de preenchimento do servidor*/
/*Parte de preenchimento do servidor*/

#d-matricula input, #d-nome input{
  font-weight: bold;
}
#secretaria {
  font-size: 1rem;
}
#input-matriculaservidor{
  width: 80%;
  text-align: left;
  font-size: 0.9rem
}
#cargo50, #secretaria50, #lotacao50, #d-nome, #d-matricula{
  display: flex;
  width: 100%;
}
#input-nomeservidor{
  font-size: 1.05rem
}



select {
  -webkit-appearance: none;  /* Remove no Chrome, Safari e Edge moderno */
  -moz-appearance: none;     /* Remove no Firefox */
  appearance: none;          /* Regra padrão */
  background-image: none;    /* Garante que imagens de fundo sejam removidas */
}

.b-avaliacao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    background-color: white;
    width: 80%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.1rem;
}

.linha-label-input {
  display: flex;
  gap: 0rem;
  background-color: white;
  width: 100%;
}

.linha-label-input label {
    text-align: left;
    width: 7rem;
    font-size: 1rem;
}

.linha-label-input input {
    padding: 0;
    border: none;
    justify-content: left;
    border-radius: 0;
    font-size: 1rem;
}


.b-nivel{
    margin: 0;
    padding: 0rem;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0;
    background-color: white;

}
.c-nivel{
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: left;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sera-atribuido {
  padding: 0;
  margin: 0;
  font-size: 0.95rem;
}
.sera-atribuido b {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 0.95rem;
}
.sera-atribuido br {
  display: none;
}

/* Adiciona um espaço após o </b> para o texto não ficar colado */
.sera-atribuido b::after {
    content: " ";
}

section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 0rem;
}
.b-pergunta{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    padding: 0;
    padding-bottom: 0.5rem;
    align-items: flex-start;
    
}

.c-pergunta {
  background-color: white;
    display: flex;
     width: 78%;
     padding: 0;
     
     min-height: 0rem; 
    align-items: flex-start;
    font-size: 1rem;
}

.c-alternativas {
  background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
      width: 20%;
      min-width: 15%;
      padding: 0;
      
    padding-top: 0.3rem;
  }

.b-totalobtido {
  display: flex;
    background-color:white;
    color:black;
    font-weight: 400;
    padding: 0;
    margin-top: 0;
    margin: 0;
    width: 96%;
    justify-content: right;
    font-size: 0.7rem;
}
.b-infoc{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.c-infoc{
  text-align: left;
  background-color: white;
        gap: 1rem; 
        margin-bottom: 5px;
        font-size: 1rem;
  
  
}
.infotext {
        border: 1px solid white !important;
        height: auto !important; 
        min-height: 1rem !important; 
        overflow: visible !important; 
        field-sizing: content;
    }
input::placeholder, textarea::placeholder {
    color: white;
    opacity: 0;
}

/* Botões Radio */
/* Botões Radio */
/* Botões Radio */
/* Botões Radio */
/* Botões Radio */

.b-apto-inapto {
  font-size: 0.9rem;
    background-color: white;
    padding: 0rem;
    padding-bottom: 0rem;
    margin-top: 0.5rem;
    width: 100%;
}

.c-alternativas label, 
.b-apto-inapto label{
  
  display: inline-block;
  padding: 0.1rem 0.5rem;
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important; /* Borda preta fina para garantir que apareça */
  box-shadow: inset 0 0 0 1000px white !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

/* Cores de Seleção dos botões Radio */
input[type="radio"]:checked + label {
  background-color: black !important;
  color: white !important;
  border-color:black !important;
  box-shadow: inset 0 0 0 1000px black !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

/* Efeito de Hover Geral (para todos os botões) */
.c-alternativas label:hover, 
.b-apto-inapto label:hover{
  background-color: whitesmoke;
  border: 2px solid #ddd;
  transition: all 0s ease;   /* Deixa o movimento suave */
}

#inapto:checked + label {
    background-color:black; /* Vermelho */
    color: white;
    border-color: black;
}

/* Quando o rádio está desabilitado, o "botão" (label) fica opaco */
input[type="radio"]:disabled + label {
    opacity: 1;
    cursor: not-allowed;
    filter: grayscale(1);
}

/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/

#id-tabela, #quesito-3, #id-infoc {
        /* Força o início de uma nova página antes deste fieldset */
        break-before: page;
}

.tabela-pontuacao{
  border-collapse: collapse;
  text-align: center;
  background-color: white;
}

.tabela-pontuacao thead th {
    background-color:white;
    color:black;
    padding: 0.3rem;
    border: 1px solid black;
}

.tabela-pontuacao td {
    padding: 0.1rem;
    border: 1px solid black;
}

.tabela-pontuacao tbody tr:hover {
    background-color:white;
}

.tabela-pontuacao tbody tr:nth-last-child(-n+1) td {
    background-color:white;
    font-weight: bold;
}
.b-tabela{
  background-color: white;
  width: 85%;
  font-size: 0.8rem;
}

.a-botao {
  display: flex;
  flex-direction: column;
}
button {
  display: none !important;
}

/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/
/*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*//*BLOCO DA ASSINATURA*/

#bloco-que-some{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.a-assinaturas{
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 0;
    width: 100%;
    padding: 0.5rem;
}

.b-assinaturas{
  background-color: white;
   display: flex;
  flex-direction: column;
    border-radius: 3px;
    width: 100%;
}
.c-bloco-assinatura{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  gap: 0rem;
  padding: 0rem;
  padding-top: 2rem;
  border-radius: 3px;
}
.data-carimbo{
  display: flex;
  background-color: white;
  justify-content: right;
  text-align: right;
  padding: 0rem;
  width: 30%;
}
.carimbo{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0rem; 
  padding-top: 0rem;
  padding-bottom: 0;
  width: 100%;
}

.carimbo label{
  display: none;
}
.carimbo input{
  width: 50%;
}
.linha-label-input-ass {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  width: 100%;
  padding: 0rem;
}

.linha-label-input-ass input {
  border-radius: 3px;
  border: 1px solid white;
  font-size: 0.9rem;
  padding: 0rem;
  width: 100%;
  text-align: center;
}

#linha-underline-chefe{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0;
  font-size: 0.9rem;
}
#d-ass-secretario{
  font-size: 0.9rem;
}

#input-matriculachefe{
  width: 8rem;
  text-align: center;
  font-size: 0.8rem;
}
#input-nomechefe{
  width: 100%;
  font-size: 0.8rem;
}
#input-cargochefe{
  width: 100%;
  font-size: 0.8rem;
}
#legend-chefeimediato{
  display: none;
}
#c-secretario{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  gap: 0rem;
  padding-top: 3rem;
  border-radius: 3px;
}
#c-servidor{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  gap: 0rem;
  padding-top: 3rem;
  padding-left: 2rem;
  border-radius: 3px;
}
#carimbo-servidor{
  background-color: white;
  display: flex;
  justify-content: center;
  width: 80%;
}

#c-concordo {
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: baseline;
  width: 100%;
  gap: 0rem;
  padding: 0rem;
  padding-top: 2rem;
  padding-left: 2rem;

}
#carimbo-data-ciencia{
  width: 50%;
  text-align: left;
}
#linha-concordo{
  display: flex;
  width: 100%;
}
#d-concordo{
  background-color: white;
  padding: 0rem;
  text-align: left;
  width: 100%;
}

#carimbo-concordo{
  width: 40%;
}

#c-justifique{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0rem;
  padding: 0rem;
  border-radius: 3px;
}
#data-justifique{
  display: block;
  text-align: left;
  width: 100%;
  padding-left: 3rem;
}
#carimbo-justifique{
  display: block;
  width: 100%;
  padding-left: 0rem;
}
#carimbo-chefe{
  font-size: 0.9rem;
}
#input-nomechefe input{
  background-color: white !important;
}
#ass-comissao{
  padding-top: 4rem;
}
.d-label-input-ass{
  font-size: 0.8rem;
}

input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        box-shadow: 0 0 0 1000px white inset !important;
        -webkit-text-fill-color: black !important;
    }
input, select, textarea {
        background: transparent !important;
        border: none !important; /* Se você usa os underscores (___) no texto, esconda a borda do input */
        appearance: none;
        -webkit-appearance: none;
        color: black !important;
    }

footer{
  display: none;
}

}

