@media (max-width: 1200px) {

  header {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(135deg, #332f7d 0%, #2b52bd 100%);
  color: white;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
      font-size: 0.28rem;
      width: 100%;
      box-sizing: border-box;
}

img {
  width: 2.5rem;
}

main {
  padding: 0;
}

.titulo{
  font-size: 1rem;
}

.preenchimento-dados, .bloco-nivel, .infoc, .tabela, .preenchimento-avaliador {
  display: flex;
  flex-direction: column;
            padding: 0.5rem;
            margin: 0.5rem 0;
            width: 100%;
            font-size: 1rem;
            gap: 0.4rem;
  background-color: #dbeafe;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sera-atribuido p {
  font-size: 0.9rem;
}

.campo-texto {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.campo-texto label {
    text-align: left;
    width: auto;
}

.campo-texto input {
    padding: 0.3rem;
    border: 1px solid royalblue;
    border-radius: 4px;
    justify-content: left;
    width: 80%;
    font-size: 1.2rem;
}

#matriculaservidor {
  width: 40%;
  text-align: center;
}
#nomeservidor {
  width: 100%;
  
}
#dataexercicioservidor {
  width: 50%;
  text-align: center;
}
#data-exercicio label {
  width: auto;
}

.quesito {
    display: flex;
    flex-direction: column;
    background-color: #dbeafe;
            padding: 0 0.2rem;
            margin: 0.4rem;
            width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;

}

/*Frases das perguntas*/
.caixa-pergunta {
    display: flex;
    flex-direction: column;
    align-items: center;
     text-align: center;
     font-size: 0.9rem;
}

.p-pergunta{
  width: 100%;    
}

.alternativas {
  margin: 0;
}

.caixa-pergunta label, 
.apto-inapto label, 
.concordo-discordo label {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: whitesmoke;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}



/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/

.pontuacao{
  font-size: 0.9rem;
}

.pontuacao thead th {
    background-color: royalblue;
    color: white;
    padding: 0.2rem;
    border: 1px solid #3b62a7;
}

.pontuacao td {
    padding: 0.3rem;
    border: 1px solid #D9D9D9;
}

.pontuacao tbody tr:hover {
    background-color: #E9E9E9;
}

.pontuacao tbody tr:nth-last-child(-n+2) td {
    background-color: #e4edff;
    font-weight: bold;
}

.apto-inapto {
    display: flex;
    flex-direction: column;
    background-color: #eff6ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 2.5rem 2.0rem 2.5rem  ;
    border-radius: 5px;
    
}

.total-obtido {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 60%;
}

.sidebar {
    display: none; /* Esconde a sidebar completamente */
  }

  .main-container {
    display: block; /* Remove o 'flex' para o conteúdo fluir normalmente */
  }

  .content {
    width: 100%;    /* Garante que o formulário use a tela toda */
    padding: 20px;  /* Reduz um pouco o respiro em telas menores */
  }
  .perfil-link {
    display: none;
  }
  
}
