* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
    
}

form {
  padding-top: 90px;
  
}

/* Cabeçalho*/
/* Cabeçalho*/
/* Cabeçalho*/
header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(135deg, #332f7d 0%, #2b52bd 100%);
  color: white;
  padding: 0.7rem;
  position: absolute;
  top: 0;
  z-index: 1000;
  font-size: 0.35rem;
        width: 100%;
        margin: 0; 
}

img {
  width: 3rem;
}

/*Dados Servidor*/
/*Dados Servidor*/
/*Dados Servidor*/

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



#a-dados-servidor, #a-nivel, .a-quesito, .a-tabela, .a-infoc,.a-chefeimediato {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  scroll-margin-top: 100px;
  background-color: rgb(208, 224, 255);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0;
    width: 80%;
    padding-bottom: 0.5rem;
}

legend {
    background-color: royalblue;
    color: white;
    font-size: 1.2rem;
    padding: 0.7rem;
    text-align: center;
    border-radius: 3px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.b-dados-servidor, .b-nivel, .b-tabela, .b-avaliador, .b-infoc{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
    font-size: 1rem;
    background-color: #eff6ff;
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.c-avaliador{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  gap: 0.3rem;
}
#label-input-avaliador{
  width: 25%;
}
#matricula-chefeimediato{
  text-align: center;
  width: auto;
}


.linha-label-input {
  display: flex;
  gap: 1rem;
}
.linha-label-input label {
  display: flex;
  flex-direction: row;
  width: 5rem;
  text-align: left;
}
.linha-label-input input, select {
  border-radius: 3px;
  border: 1px solid royalblue;
  font-size: 1rem;
  padding: 0.1rem;
}

.d-label-input{
display: flex;
width: 100%;
}
.d-label-input input, select{
width: 50%;
}

#dataexercicioservidor, #dataavaliacao{
  width: auto;
  text-align: center;
  margin-left: 1rem;
}
#label-dataavaliacao{
  width: auto;
}

#label-data-exercicio{
  width: auto;
}

#input-matriculaservidor{
  width: 10rem;
  text-align: center;
}

.b-avaliacao {
  display: flex;
  flex-direction: row;
    background-color: #eff6ff;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.2rem 0.3rem 0;
    padding: 0.5rem;
    width: 80%;
    justify-content: center;
}
#avaliacao-num{
  width: auto;
  text-align: center;
}
#div-avaliacao{
  display: flex;
}

.c-nivel{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sera-atribuido {
  padding: 0.1rem;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.b-pergunta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    background-color: #eff6ff;
    border-radius: 3px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
}
.c-pergunta {
    display: flex;
    align-items: center;
     width: 70%;
     min-height: 4rem;
     padding: 1rem;
}
.c-alternativas {
  min-width: 330px;
  align-items: center;
}

.b-totalobtido {
  display: flex;
    background-color: royalblue;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0.3rem;
    width: 50%;
    justify-content: center;
}

.c-infoc{
  text-align: left;
}

textarea {
    height: 100px;
    width: 100%;
    border: 1px solid royalblue;
    border-radius: 8px;
    padding: 1rem;
}

/* Botões Radio */

.b-apto-inapto {
    background-color: #eff6ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    
}

.c-alternativas input[type="radio"],
.b-apto-inapto input[type="radio"]{
  display: none;
}

.c-alternativas label, 
.b-apto-inapto label{
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: whitesmoke;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

/* Cores de Seleção dos botões Radio */
input[type="radio"]:checked + label {
  background-color: green;
  color: white;
  border-color: green;
  transform: translateY(-1px);
}

/* Efeito de Hover Geral (para todos os botões) */
.c-alternativas label:hover, 
.b-apto-inapto label:hover{
  background-color: #e0e0e0; /* Um cinza um pouco mais escuro que o whitesmoke */
  border-color: #bbb;       /* Escurece a borda levemente */
  transform: translateY(-2px); /* Faz o botão "subir" um pouquinho */
  transition: all 0.2s ease;   /* Deixa o movimento suave */
}

#inapto:checked + label {
    background-color: #dc3545; /* Vermelho */
    color: white;
    border-color: #a71d2a;
}

/* Quando o rádio está desabilitado, o "botão" (label) fica opaco */
input[type="radio"]:disabled + label {
    opacity: 0.4;
    cursor: not-allowed;
    filter: grayscale(1);
}

/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/
/* Tabela de Resumo da Avaliação*/

.tabela-pontuacao{
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: #eff6ff;
}

.tabela-pontuacao thead th {
    background-color: royalblue;
    color: white;
    padding: 1rem;
    border: 1px solid #3b62a7;
}

.tabela-pontuacao td {
    padding: 0.5rem;
    border: 1px solid #D9D9D9;
}

.tabela-pontuacao tbody tr:hover {
    background-color: #E9E9E9;
}

.tabela-pontuacao tbody tr:nth-last-child(-n+2) td {
    background-color: #e4edff;
    font-weight: bold;
}

.a-botao {
  display: flex;
  flex-direction: column;
}
button {
  background: linear-gradient(135deg, #1a7ba1 0%, #1a5aa2 100%);
  color: white;

  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(26, 90, 162, 0.3);
  
 
  margin: 1rem auto;
  margin-bottom: 15rem;
}

/* Efeito ao passar o mouse (Hover) */
.botao:hover {
  background: linear-gradient(135deg, #1a5aa2 0%, #1a7ba1 100%);
  box-shadow: 0 6px 20px rgba(26, 90, 162, 0.4);
}

/* Efeito ao clicar (Active) */
.botao:active {
  transform: translateY(-1px); /* O botão desce um pouco ao clicar */
}

#linha-assinatura, #rotulo-carimbo{
  display: none;
}


